<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Название страницы-->
    <title>Посты</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
</head>

<body>

<h1>Посты</h1>

<button class="btn-add" onclick="toggleForm()">Добавить пост</button>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Картинка</th>
        <th>Текст</th>
        <th>Теги</th>
        <th>Количество лайков</th>
        <th>Количество комментариев</th>
    </tr>
    </thead>
    <!-- Цикл по пользователям из атрибута users-->
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"/>
        <td><a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"/></td>
        <td><img th:if="${post.image != null}" th:src="@{'/images/'+${post.image}}" alt="Картинка"/></td>
        <td th:text="${post.text}"/>
        <td th:text="${post.tags}"/>
        <td th:text="${post.likes}"/>
        <td th:text="${#lists.size(post.comments)}"/>
    </tr>
    </tbody>
</table>

<!-- Скрываемая форма для добавления нового пользователя -->
<div class="form-container" style="display: none;" id="newPostForm">
    <h2>Добавить пост</h2>
    <form th:action="@{/posts}" method="POST">
        <label for="title">Название</label>
        <input type="text" id="title" name="title" required>
        <label for="image">Картинка</label>
        <input type="text" id="image" name="image" required>
        <label for="text">Текст</label>
        <!--<input type="text" id="text" name="text" required>-->
        <textarea id="text" name="text" rows="5" required></textarea>
        <label for="tags">Теги</label>
        <input type="text" id="tags" name="tags">
        <button type="submit">Добавить</button>
    </form>
</div>

<script>
    function toggleForm() {
        const form = document.getElementById('newPostForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }
</script>

</body>

</html>
