<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->

    <!-- Название страницы-->
    <title>Посты</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
    <script>
        // Функция для отправки формы при изменении страницы
        function changePage() {
            document.getElementById("pageForm").submit();
        }

        // Функция для отправки формы при изменении размера страницы
        function changeSize() {
            document.getElementById("sizeForm").submit();
        }

        // Функция для отправки формы при изменении тега
        function changeTag() {
            document.getElementById("tagForm").submit();
        }
    </script>
</head>

<body>

<h1>Посты</h1>

<!-- Скрываемая форма для добавления нового поста -->
<div class="form-container" style="display: none;" id="newPostForm">
    <h2>Новый пост</h2>
    <form th:action="@{/posts/add}" method="post" enctype="multipart/form-data" th:object="${newPost}">
        <!-- Поле для заголовка -->
        <div>
            <label for="title">Заголовок:</label>
            <input type="text" id="title" th:field="*{title}" required="true"/>
        </div>

        <!-- Поле для загрузки изображения -->
        <br/>
        <div>
            <label for="imageFile">Изображение:</label>
            <input type="file" id="imageFile" name="imageFile" accept="image/*"/>
        </div>

        <!-- Поле для текста поста -->
        <br/>
        <div>
            <label for="text">Текст поста (строки, разделяются тегом <code>&lt;br&gt;</code>,
                абзацы выделяются парой тегов <code>&lt;p&gt;&lt;&#47;p&gt;</code>):</label>
            <textarea id="text" th:field="*{text}" rows="10" cols="100"></textarea>
        </div>

        <!-- Список тегов с множественным выбором -->
        <br/>
        <div>
            <label for="tagIds">Теги:</label>
            <select id="tagIds" name="tagIds" multiple="true">
                <option th:each="tag : ${allTags}"
                        th:value="${tag.id}"
                        th:text="${tag.name}">
                </option>
            </select>
        </div>

        <!-- Кнопка отправки формы -->
        <br/>
        <div>
            <button type="submit">Добавить пост</button>
        </div>
    </form>
    <br/><br/>
</div>

<script>
    function toggleForm() {
        const form = document.getElementById('newPostForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }
</script>

<button class="btn-add" onclick="toggleForm()">Новый пост</button>

<br/><br/>

<!-- Форма для выбора страницы -->
<form id="pageForm" th:action="@{/posts}" method="get">
    <label for="page">Страница:</label>
    <select id="page" name="page" onchange="changePage()">
        <!-- Генерация списка страниц -->
        <option th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                th:value="${i}"
                th:text="${i + 1}"
                th:selected="${i == page.number}">
        </option>
    </select>

    <!-- Скрытое поле для сохранения текущего размера страницы -->
    <input type="hidden" name="size" th:value="${page.size}"/>
    <!-- Скрытое поле для сохранения текущего тега -->
    <input type="hidden" name="tagId" th:value="${tagId}"/>
</form>

<!-- Форма для выбора размера страницы -->
<form id="sizeForm" th:action="@{/posts}" method="get">
    <label for="size">Количество постов на странице (не более):</label>
    <select id="size" name="size" onchange="changeSize()">
        <option value="10" th:selected="${page.size == 10}">10</option>
        <option value="20" th:selected="${page.size == 20}">20</option>
        <option value="50" th:selected="${page.size == 50}">50</option>
    </select>

    <!-- Скрытое поле для сохранения текущей страницы -->
    <input type="hidden" name="page" th:value="0"/>
    <!-- Скрытое поле для сохранения текущего тега -->
    <input type="hidden" name="tagId" th:value="${tagId}"/>
</form>

<!-- Форма для выбора тега -->
<form id="tagForm" th:action="@{/posts}" method="get">
    <label for="tagId">Фильтр по тегу:</label>
    <select id="tagId" name="tagId" onchange="changeTag()">
        <option th:value="0">Не выбрано</option>
        <option th:each="tag : ${allTags}" th:value="${tag.id}" th:text="${tag.name}" th:selected="${tag.id == tagId}">
        </option>
    </select>

    <!-- Скрытое поле для сохранения текущей страницы -->
    <input type="hidden" name="page" th:value="0"/>
    <!-- Скрытое поле для сохранения текущего размера страницы -->
    <input type="hidden" name="size" th:value="${page.size}"/>
</form>

<br/>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Картинка</th>
        <th>Текст</th>
        <th>Теги</th>
        <th>Количество лайков</th>
        <th>Количество комментариев</th>
    </tr>
    </thead>
    <tbody>
    <!-- Цикл по пользователям из атрибута users-->
    <tr th:each="post : ${posts}">
        <td th:text="${post.id}"/>
        <td><a th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}"/></td>
        <td><img th:if="${post.image != null}" th:src="@{'/'+${uploadDir}+'/'+${post.image}}" alt="Картинка"/></td>
        <!--Вывод текста с абзацами и строками-->
        <!--<td th:utext="${#strings.replace(post.preview, '\n', '<br/>')}"/>-->
        <td th:utext="${post.textPreview}"/>
        <td>
            <ul>
                <li th:each="tag : ${post.tags}" th:text="${tag.name}"></li>
            </ul>
        </td>
        <td th:text="${post.likes}"/>
        <td th:text="${#lists.size(post.comments)}"/>
    </tr>
    </tbody>
</table>

</body>

</html>
