<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Пост</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
    </style>
    <script>
        // Функция для обработки нажатия Ctrl + Enter
        function handleKeyDown(event, form) {
            if (event.ctrlKey && event.key === "Enter") {
                form.submit(); // Отправляем форму
            }
        }
    </script>
</head>

<body>

<h1>Пост</h1>

<!-- Скрываемая форма для редактирования поста -->
<div class="form-container" style="display: none;" id="newPostForm">
    <h2>Новый пост</h2>
    <form th:action="@{/posts/update}" method="post" enctype="multipart/form-data" th:object="${post}">
        <!-- Поле для заголовка -->
        <input type="hidden" id="postId" name="id" th:value="${post.id}">

        <!-- Поле для заголовка -->
        <div>
            <label for="title">Заголовок:</label>
            <input type="text" id="title" name="title" th:value="${post.title}" required>
        </div>

        <!-- Поле для загрузки изображения -->
        <div>
            <label for="imageFile">Изображение:</label>
            <input type="file" id="imageFile" name="imageFile" accept="image/*">
        </div>
        <!-- Поле для загрузки изображения -->
        <br>

        <!-- Поле для текста поста -->
        <div>
            <label for="text">Текст поста (строки, разделяются тегом <code>&lt;br&gt;</code>,
                абзацы выделяются парой тегов <code>&lt;p&gt;&lt;&#47;p&gt;</code>):</label>
            <!--<textarea id="text" name="text" rows="5" cols="40" th:text="${#strings.replace(post.text, '\n', '&#10;')}"/>-->
            <textarea id="text" name="text" rows="10" cols="100" th:text="${post.text}"/>
        </div>

        <!-- Список тегов с множественным выбором -->
        <br>
        <div>
            <label for="tagIds">Теги:</label>
            <select id="tagIds" name="tagIds" multiple>
                <option th:each="tag : ${allTags}"
                        th:value="${tag.id}"
                        th:text="${tag.name}"
                        th:selected="${post.getTagIds().contains(tag.id)}">
                </option>
            </select>
        </div>

        <!-- Кнопка отправки формы -->
        <br>
        <div>
            <button type="submit">Обновить пост</button>
        </div>
    </form>
    <br><br>
</div>

<script>
    function toggleForm() {
        const form = document.getElementById('newPostForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }
</script>

<button class="btn-add" onclick="toggleForm()">Редактировать пост</button>

<br><br>

<div>
    <strong>Название:</strong>
    <span th:text="${post.title}"/>
</div>

<!-- Изображение поста (если есть) -->
<div>
    <strong>Картинка:</strong>
    <div th:if="${post.image != null}">
        <img th:src="@{'/'+${uploadDir}+'/'+${post.image}}" alt="Картинка"/>
    </div>
</div>

<!-- Текст поста -->
<div>
    <strong>Текст:</strong>
    <!--Вывод текста с абзацами и строками-->
    <!--<div th:utext="${#strings.replace(post.text, '\n', '<br>')}"/>-->
    <div th:utext="${post.text}"/>
    <!--<div th:utext="${htmlPostText}"/>-->
</div>

<!-- Теги поста -->
<div>
    <strong>Теги:</strong>
    <!--<span th:text="${post.tags}"/>-->
    <div>
        <ul>
            <li th:each="tag : ${post.tags}" th:text="${tag.name}"></li>
        </ul>
    </div>
</div>

<!-- Количество лайков -->
<div>
    <strong>Количество лайков:</strong>
    <span th:text="${post.likes}"/>
</div>

<form th:action="@{/posts/incrementPostLikes}" method="post">
    <input type="hidden" name="postId" th:value="${post.id}">
    <button type="submit">Лайкнуть</button>
</form>

<!-- Таблица комментариев -->
<div><strong>Комментарии:</strong></div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Текст</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${post.comments}">
        <td th:text="${comment.id}"></td>
        <td>
            <!-- Форма для редактирования комментария -->
            <form th:if="${comment.id == editingCommentId}" th:action="@{/posts/updateComment}" method="post">
                <input type="hidden" name="postId" th:value="${post.id}">
                <input type="hidden" name="commentId" th:value="${comment.id}">
                <input type="text" name="commentText" th:value="${comment.text}"
                       onkeydown="handleKeyDown(event, this.form)">
                <!--<input type="text" name="commentText" th:value="${comment.text}">-->
                <!--<button type="submit">Сохранить</button>-->
            </form>
            <!-- Отображение текста комментария с возможностью редактирования -->
            <span th:unless="${comment.id == editingCommentId}" th:text="${comment.text}"
                  th:onclick="'location.href=\'/blogger/posts/editComment?postId=' + ${post.id} + '&editingCommentId=' + ${comment.id} + '\''"
                  style="cursor: pointer;">
                    </span>
        </td>
    </tr>
    </tbody>
</table>

<br><br>

<!-- Форма для добавления нового комментария -->
<form th:action="@{/posts/addComment}" method="post">
    <input type="hidden" name="postId" th:value="${post.id}">
    <div>
        <label for="commentText">Текст комментария:</label>
        <input type="text" id="commentText" name="commentText" required>
    </div>
    <button type="submit">Добавить комментарий</button>
</form>

</body>

</html>